snippet rnc "Generate a blank React native web class component"
import * as React from 'react';
import { $2 } from 'react-native';

export class $1 extends React.Component {
	render() {
		return (
			$3
		);
	}
}
endsnippet

snippet rns "Generate a blank React native stylesheet"
import { StyleSheet } from 'react-native';

export const styles = StyleSheet.create({
	root: {}
});
endsnippet
